.page-header{
  text-align: center;
  margin-top: 15px;
}

.navbar-nav {
  background-color: darkgray;
}

.navbar-brand {
  font-size: 36px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    text-align: center;
}

.col-xs-12 {
  background-color: lightblue;
}

.col-xs-12>h3 {
    text-align: center;
}
